@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-pretendard), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-audiowide: var(--font-audiowide);

  --color-rhistle: #1428a0;

  --animate-fade-in-up: fade-in-up 1s forwards;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
